<script lang="ts">
    import { currentlyEditedCase } from "@stores/currentlyEditedCase";
    import PDFIcon from "@images/pdf.svg";

    export let caseData;

    let caseFiles = [caseData.files.application, caseData.files.reply];

    function setAsCurrentlyEditedCase() {
        const { id } = caseData;
        currentlyEditedCase.set(id);
    }
</script>

<article on:click={setAsCurrentlyEditedCase} class="case">
    <section class="basicData">
        <div class="heading">
            <h2>
                {caseData.caseId}
                <status>({caseData.status.toLowerCase()})<status /></status>
            </h2>
            <section class="files">
                {#each caseFiles as url}
                    {#if url}
                        <a on:click|stopPropagation href={url} target="_blank">
                            <img src={PDFIcon} alt="Plik" />
                        </a>
                    {/if}
                {/each}
            </section>
        </div>
        <p>{caseData.school}</p>
    </section>
</article>

<style lang="scss">
    .case {
        display: flex;
        align-items: end;
        border: 1px solid #edf2f7;
        border-radius: 3px;
        padding: 25px;
        margin-bottom: 16px;
        flex-direction: column;
        cursor: pointer;

        @media (min-width: 900px) {
            flex-direction: row;
        }

        .basicData {
            width: 100%;

            .heading {
                display: flex;
                align-items: center;

                h2 {
                    font-size: 18px;
                    font-weight: 600;

                    status {
                        font-weight: 400;
                    }
                }

                .files {
                    margin-left: .5rem;
                    display: flex;

                    @media (max-width: 900px) {
                        display: none;
                    }

                    a {
                        display: flex;

                        img {
                            width: 1rem;
                            margin-right: 0.25rem;
                        }
                    }
                }
            }
        }
    }
</style>