<script lang="ts">
    import { currentlyEditedCase } from "@stores/currentlyEditedCase";
    import REST from "../../../data/REST";
    import Badge from "../base/Badge.svelte";

    export let caseId: string;

    let currentEditedCaseID;
    let possibleDuplicateDetails = null;
    let typingInterval: any = setInterval(_caller => null, 10000);
    const clearTypingInterval = () => clearInterval(typingInterval);

    const checkForDuplicates = () => {
        clearTypingInterval();
            
        const fetchPossibleDuplicateDetails = async () => {
            const Rest = new REST();
            const request = await Rest.request.cases.doesExist(caseId);
            possibleDuplicateDetails = request.entryExists ? request : null;
            clearTypingInterval();
        }
        typingInterval = setInterval(fetchPossibleDuplicateDetails, 350);
    }

    $: caseId, checkForDuplicates();

    currentlyEditedCase.subscribe(id => currentEditedCaseID = id);
</script>

<section class="duplicate">
    {#if possibleDuplicateDetails && currentEditedCaseID == 0}
        <Badge title="Uwaga!" message="Możliwy duplikat - znaleziono podobną interwencję, przeprowadzoną w szkole <b>{possibleDuplicateDetails.school}</b>." />
    {/if}
</section>

<style lang="scss">
    .duplicate {
        margin-top: 1rem;
    }
</style>