<script lang="ts">
    import PDFIcon from "@images/pdf.svg";
    import Input from "../base/Input.svelte";

    export let category: string;
    export let url: string;
</script>

<section class="filesCategory">
    <div class="header">
        <h3>{category.toUpperCase()}</h3>
    </div>
    <div class="attachedFiles">
        <div class="singleFileCard">
            <div class="icon">
                <img src={PDFIcon} alt="pdf icon">
            </div>
            <div class="details">
                <Input bind:value={url} placeholder="https://" width="75%" />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .filesCategory {
        min-height: 5rem;

        .header {
            background: #EFF4F8;
            height: 2.5rem;
            padding: 1rem;
            display: flex;
            align-items: center;

            h3 {
                font-family: 'Montserrat';
                font-size: .8125rem;
                font-weight: 600;
                color: #425466;
            }
        }

        .attachedFiles {
            padding: 2rem 1rem;

            .singleFileCard {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100px;
                border: 1px solid #EFF4F8;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100px;
                    border-right: 1px solid #EFF4F8;
                }

                .details {
                    margin-left: 1rem;
                    width: 100%;
                }
            }
        }
    }
</style>