<script lang="ts">
    import FilesSection from "./FilesSection.svelte";

    export let files: any = {}
</script>
<section class="filesDatatable">
    <FilesSection bind:url={files.application} category="Wniosek" />
    <FilesSection bind:url={files.reply} category="Odpowiedź" />
</section>

<style lang="scss">
    .filesDatatable {
        margin-top: 1rem;
        border-radius: 3px;
        border: 1px solid #EDF2F7;
        overflow: hidden;
    }
</style>