<script lang="ts">
    import Cases from "@lib/Cases";
    import { closeCreatorForm, creatorFormVisible, currentlyEditedCase } from "@stores/currentlyEditedCase";
    import Input from "./base/Input.svelte";
    import Voivodeships from "../../data/Voivodeships";
    import Select from "./base/Select.svelte";
    import CaseStatus from "../../data/CaseStatus";
    import Label from "./base/Label.svelte";
    import ReasonsDatatable from "./Reasons/ReasonsDatatable.svelte";
    import Header from "@components/Header/Header.svelte";
    import FilesDatatable from "./Files/FilesDatatable.svelte";
    import Button from "./base/Button.svelte";
    import { toasts }  from "svelte-toasts";
    import QuitButton from "./base/QuitButton.svelte";
    import Duplicate from "./Helpers/Duplicate.svelte";

    let caseId: string = "";
    let files: any = {};
    let id: number = null;
    let school: string = "";
    let status: any = "";
    let voivodeship: any = "";
    let whatWasWrong: string[] = [ null ];

    const clearForm = () => {
        caseId = school = status = voivodeship = '';
        files = {};
        id = null;
        whatWasWrong = [ null ];
    }

    currentlyEditedCase.subscribe(currentEditedCaseID => {
        if (currentEditedCaseID) {
            const CasesProvider = new Cases();
            const currentlyEditedCaseData = CasesProvider.getCurrentlyEditedCaseData();
            id = currentEditedCaseID;
            caseId = currentlyEditedCaseData['caseId'];
            files = currentlyEditedCaseData['files'];
            school = currentlyEditedCaseData['school'];
            status = currentlyEditedCaseData['status'];
            voivodeship = currentlyEditedCaseData['voivodeship'];
            whatWasWrong = currentlyEditedCaseData['whatWasWrong'];
        } else clearForm();
    })

    creatorFormVisible.subscribe(visibility => {
        if (!visibility) clearForm();
    })

    const saveCurrentCase = async () => {
        const payload = {
            id, caseId, files, school, whatWasWrong,
            additionalFiles: {},
            status: status.label || status,
            voivodeship: voivodeship.label || voivodeship
        }
        const CasesProvider = new Cases();
        const response = await CasesProvider.updateCase(payload);        
        if (response) {
            closeCreatorForm();
            toasts.success('Sukces', 'Interwencja została zaktualizowana');
        }
    }
</script>

<section class="creatorForm {$creatorFormVisible ? '' : 'inactive'}">
    <section class="editorPole">
        <QuitButton on:click={closeCreatorForm} />
        <Header title="Karta interwencji">
            <Duplicate bind:caseId />
        </Header>
        <div class="inputDataGroup">
            <Input bind:value={caseId} label="Numer sprawy" placeholder="Twój numer sprawy" />
            <Select bind:value={status} items={CaseStatus.list} label="Status sprawy" />
        </div>
        <div class="inputDataGroup">
            <Input bind:value={school} label="Nazwa szkoły" placeholder="Nazwa tej szkoły" />
            <Select bind:value={voivodeship} items={Voivodeships.list} label="Województwo" />
        </div>
        <section class="whatWasWrong">
            <Label label="Co było nie tak?" />
            <p>Wpisz przyczynę, a następnie kliknij enter. Aby dodać kolejną pozycję kliknij przycisk "DODAJ POZYCJĘ". Kliknij na daną pozycję aby ją edytować.</p>
            <ReasonsDatatable bind:whatWasWrong />
        </section>
        <section class="files">
            <Label label="Pliki" />
            <p>Poniżej wklej linki do plików odnoszących się do sprawy. Pliki wgraj <a href="https://umarlestatuty.pl/wp-admin/media-new.php" target="_blank">tutaj</a> (na naszą stronę Wordpress)</p>
            <FilesDatatable bind:files />
        </section>
        <section class="save">
            <Button on:click={saveCurrentCase} label="Zapisz interwencję" />
        </section>
    </section>
</section>

<style lang="scss">
    .creatorForm {
        position: fixed;
        z-index: 1000;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;

        &.inactive {
            display: none;
        }

        .editorPole {
            background: white;
            padding: 1rem 4rem 1rem 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            @media (min-width: 900px) {
                padding: 2rem 6rem 3rem 0;
            }

            img {
                width: 150px;
            }

            p {
                font-family: 'Work Sans';
                color: #7A828A;
                font-size: .8125rem;
                margin-bottom: 1rem;
            }

            .inputDataGroup {
                margin: 1rem 0;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                @media (min-width: 900px) {
                    display: grid;
                    grid-template-columns: 4fr 2fr 1fr;
                    grid-template-rows: 1fr;
                    column-gap: 8px;
                    margin: 2.5rem 0;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }

            .files {
                margin-top: 2rem;
            }

            .save {
                display: flex;
                justify-content: right;
            }
        }
    }
</style>
