<script>
    import { ToastContainer, FlatToast }  from "svelte-toasts";
</script>

<main>
    <slot />
    <ToastContainer placement="bottom-right" let:data>
        <FlatToast {data} />
    </ToastContainer>
</main>

<style lang="scss">
    main {
        padding: 2rem 1rem 0 2rem;
    }
</style>