<script lang="ts">
    import Button from "../base/Button.svelte";
    import ReasonEdit from "./ReasonEdit.svelte";

    export let whatWasWrong: string[] = [ null ];

    let newReasonButtonRef: number = 0;

    const showNewReasonField = () => {
        newReasonButtonRef++;
        if (whatWasWrong[whatWasWrong.length - 1]) whatWasWrong = [...whatWasWrong, null];
    }
</script>

<section class="reasonsDatatable">
    <table>
        <tr>
            <th>LP</th>
            <th>PRZYCZYNA</th>
        </tr>
        {#if whatWasWrong}
            {#each whatWasWrong as entry, index}
                <tr>
                    <td>{index + 1}</td>
                    <ReasonEdit bind:whatWasWrong bind:newReasonButtonRef reason={entry} {index} />
                </tr>
            {/each}
        {/if}
    </table>
    <div class="actions">
        <Button on:click={showNewReasonField} label="Dodaj pozycję" />
    </div>
</section>

<style lang="scss">
    .reasonsDatatable {
        table {
            width: 100%;

            tr {
                height: 43px;
                outline: 1px solid #EDF2F7;

                th, td {
                    &:first-of-type {
                        width: 1px;
                        white-space: nowrap;
                        padding: 1.5rem;
                    }
                }

                th {
                    font-size: .625rem;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    color: #7A828A;
                    text-align: left;
                }

                td {
                    font-size: .75rem;
                    color: #425466;
                    font-family: 'Work Sans';   
                }
            }
        }

        .actions {
            display: flex;
            justify-content: right;
        }
    }
</style>