<script lang="ts">
    import Input from "../base/Input.svelte";
    import SaveIcon from "@images/save.svg";
    import TrashIcon from "@images/trash.svg";

    export let index: number;
    export let newReasonButtonRef: number;
    export let reason: string;
    export let whatWasWrong: string[] = [];

    let reasonEditContainer: HTMLDivElement;
    let reasonEditMode: boolean = false;

    $: newReasonButtonRef, updateReasonAndCreateNewOne();
    $: whatWasWrong, reasonEditMode = false;

    const enableEditMode = () => reasonEditMode = true;
    const updateReason = () => whatWasWrong[index] = reason;
    const removeReason = () => {
        if (whatWasWrong.length > 1) {
            whatWasWrong = whatWasWrong.filter((_entry, globalIndex) => index !== globalIndex);
        } else {
            whatWasWrong = [ null ];
        }
    }

    const updateReasonOnEnterPress = event => {
        const pressedKey = event.key;
        const pressedEnterKey = pressedKey == 'Enter';
        if (pressedEnterKey) updateReason();
    }

    const updateReasonAndCreateNewOne = () => {
        updateReason();
        if (whatWasWrong[whatWasWrong.length - 1]) whatWasWrong = [...whatWasWrong, null];
    }
</script>

<td on:click={enableEditMode} bind:this={reasonEditContainer}>
    {#if reasonEditMode || !reason}
        <div class="reasonEditBox">
            <Input on:keypress={updateReasonOnEnterPress} bind:value={reason} placeholder="Wpisz przyczynę..." width="500px" />
            <img on:click|stopPropagation={updateReason} src={SaveIcon} alt="Zapisz">
            <img on:click|stopPropagation={removeReason} src={TrashIcon} alt="Usuń">
        </div>
    {:else}
        {reason}
    {/if}
</td>

<style lang="scss">
    td {
        cursor: pointer;

        .reasonEditBox {
            display: flex;
            align-items: center;

            img {
                margin-left: .75rem;
                height: 1.25rem;
            }
        }
    }
</style>