<script lang="ts">
    export let title: string = "";
    export let message: string = "";
</script>

<div class="badge">
    <h2>{title}</h2>
    <p>{@html message}</p>
</div>

<style lang="scss">
    .badge {
        border-left: 5px solid #FDCD18;
        width: 100%;
        padding: 1rem .5rem 1rem 1.5rem;
        font-family: "Montserrat";

        h2 {
            margin-bottom: .5rem;
        }
    }
</style>