<script lang="ts">
    export let label: string;
</script>

<button on:click>{label.toUpperCase()}</button>

<style>
    button {
        cursor: pointer;
        width: 235px;
        height: 38px;
        outline: none;
        border: none;
        border-radius: 3px;
        background: #FDCD18;
        color: #425466;
        font-size: .75rem;
        font-family: 'Montserrat';
        font-weight: 700;
        margin-top: 1.375rem;
    }
</style>