<script lang="ts">
    import Label from "./Label.svelte";

    export let label: string = null;
    export let placeholder: string;
    export let value: string;
    export let width: string = "100%";

    const getInputID = (): string => {
        const ID = label + placeholder;
        const normalizedID = ID.replaceAll(" ", "").toLowerCase();

        return normalizedID;
    };
</script>

<div class="inputWithLabel">
    {#if label}
        <Label forInput={getInputID()} {label} />
    {/if}
    <input
        on:input
        on:keypress
        id={getInputID()}
        bind:value
        {placeholder}
        style="width: {width}"
    />
</div>

<style lang="scss">
    .inputWithLabel {
        display: flex;
        flex-direction: column;
        
        input {
            background: #edf2f7;
            border: none;
            border-radius: 3px;
            outline: none;
            height: 38px;
            width: 100%;
            padding-left: 1rem;
            font-family: Montserrat;

            @media (max-width: 900px) {
                width: auto !important;
            }
        }

        label {
            font-family: "Work Sans";
            font-weight: 600;
            font-size: 0.875rem;
            color: #425466;
            cursor: pointer;
        }
    }
</style>
