<script lang="ts">
    export let forInput: string = "";
    export let label: string;
</script>

<label for={forInput}>{label.toUpperCase()}</label>

<style>
    label {
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: .875rem;
        color: #425466;
        cursor: pointer;
    }
</style>