<script lang="ts">
    import QuitIcon from "@images/quit.svg";
</script>

<section on:click class="quit">
    <img src={QuitIcon} alt="Zamknij">
</section>

<style lang="scss">
    .quit {
        cursor: pointer;
        position: absolute;
        right: 75px;
        top: 35px;

        img {
            width: 20px;
        }
    }
</style>