<script lang="ts">
    import Select from 'svelte-select';
    import Label from './Label.svelte';

    export let items: string[] = [];
    export let label: string;
    export let placeholder: string = "Wybierz...";
    export let value: string;

    const stylesheet: Record<string, string> = {
        container: `
            width: 100%;
            height: 38px;
        `
    }
</script>

<div>
    {#if label}
        <Label {label} />
    {/if}
    <Select
        bind:value
        hideEmptyState={true}
        isClearable={false}
        isSearchable={false}
        {items}
        {placeholder}
        containerStyles={stylesheet.container} 
    />
</div>
