<script>
    import CheckingCredentials from "@components/Auth/CheckingCredentials.svelte";
    import CasesList from "@components/Cases/CasesList.svelte";
    import Button from "@components/Creator/base/Button.svelte";
    import CreatorForm from "@components/Creator/CreatorForm.svelte";
    import Header from "@components/Header/Header.svelte";
    import Layout from "@components/Layout.svelte";
    import { authState } from "@stores/authState";
    import { openCreatorForm } from "@stores/currentlyEditedCase";
</script>

<Layout>
  {#if $authState}
    <Header>
      <Button on:click={openCreatorForm} label="Dodaj interwencję" />
    </Header>
    <CasesList />
    <CreatorForm />
  {:else}
    <CheckingCredentials />
  {/if}
</Layout>